{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "sourceType": "module",
      "project": "./tsconfig.json"
    },
    "plugins": ["@typescript-eslint"],
    "extends": [
      "airbnb-typescript",
      "airbnb/hooks",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended-requiring-type-checking",
      "eslint:recommended",
      "plugin:prettier/recommended"
    ],
    "rules": {
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-misused-promises":[ // express router에서 async-await 함수를 사용하기 위함
        "error",
        {
          "checksVoidReturn": false
        }
      ],
      "@typescript-eslint/no-unsafe-return": "off",
      "@typescript-eslint/no-unsafe-member-access": "off",
      "import/no-cycle" : "off",
      "no-console": "off", // 나중에 한 번에 처리해주기
      "no-param-reassign" : "off",
      "class-methods-use-this":"off"
    }
  }